<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04 - Formats et médias</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04 - Formats et m&#233;dias</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1939a3dab80f4ec3b92cd6ba099f4e58.png" alt="04 - Formats et médias" usemap="#id-1939a3dab80f4ec3b92cd6ba099f4e58map"/>
			   <map name="id-1939a3dab80f4ec3b92cd6ba099f4e58map">
				  		<area shape="rect" coords="754,376,874,431" href="../elements/id-39f038e0c8ed43b5ae44a1e1ed122252.html"  target="element">
				  		<area shape="rect" coords="982,556,1102,611" href="../elements/id-d93bf53b2297499795ba6ebfd39f9738.html"  target="element">
				  		<area shape="rect" coords="346,220,466,275" href="../elements/id-a2ad64762d95422d81ad7d7302422f5c.html"  target="element">
				  		<area shape="rect" coords="756,82,876,137" href="../elements/id-5c69e1051a674d759afd2324fcfa5074.html"  target="element">
				  		<area shape="rect" coords="502,10,622,65" href="../elements/id-d0ccb9604a72466d80fde019fc6ce218.html"  target="element">
				  		<area shape="rect" coords="754,154,874,209" href="../elements/id-6d336e2e6bdc42379d849eff51adbea4.html"  target="element">
				  		<area shape="rect" coords="502,154,622,209" href="../elements/id-31215b24566748c483eee309f0bdfbcf.html"  target="element">
				  		<area shape="rect" coords="756,304,876,359" href="../elements/id-2f94c7191f5741b69853df8bdd7e92e9.html"  target="element">
				  		<area shape="rect" coords="754,220,874,275" href="../elements/id-e576f0ca02cc47e2802f3a98a885bec6.html"  target="element">
				  		<area shape="rect" coords="502,82,622,137" href="../elements/id-110385fec69347e0880550d2ecb784b5.html"  target="element">
				  		<area shape="rect" coords="754,10,874,65" href="../elements/id-7921e1deddf249aeb56e0e14570fd1a3.html"  target="element">
				  		<area shape="rect" coords="214,460,334,515" href="../elements/id-9089fa8f712f428c807362f33b1f8fbe.html"  target="element">
				  		<area shape="rect" coords="982,628,1102,701" href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html"  target="element">
				  		<area shape="rect" coords="214,604,334,659" href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html"  target="element">
				  		<area shape="rect" coords="214,532,334,587" href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html"  target="element">
				  		<area shape="rect" coords="346,376,466,431" href="../elements/id-d6680e3a45ac4921afc5a8ef8e6a334d.html"  target="element">
				  		<area shape="rect" coords="346,304,466,359" href="../elements/id-b6a130e96363402b97d3bf4dbd656ef4.html"  target="element">
				  		        <area shape="rect" coords="346,1110,827,1195" href="../objects/id-28e81c63ec8446ebb99339ba49060a90.html" target="element" >

				          <area shape="rect" coords="334,1074,839,1207" href="../objects/id-88e89a53c2624f53909563b132103b47.html" target="element" >
				  		<area shape="rect" coords="838,688,935,743" href="../elements/id-e56cadcc04c343338519c2dfc9b367e6.html"  target="element">
				  		<area shape="rect" coords="730,688,827,743" href="../elements/id-bf57fa2cb57d4ad69e4d6e78994dcaf3.html"  target="element">
				  		<area shape="rect" coords="622,688,719,743" href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html"  target="element">
				  		<area shape="rect" coords="502,688,599,743" href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html"  target="element">
				  		<area shape="rect" coords="382,688,479,743" href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html"  target="element">
				  		<area shape="rect" coords="166,760,286,815" href="../elements/id-a3b8dcc2a7aa4d43bb307ea9c1d88d15.html"  target="element">
				  		<area shape="rect" coords="981,952,1101,1007" href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html"  target="element">
				  		<area shape="rect" coords="166,976,286,1031" href="../elements/id-2581160d85fa48c794dd8bb25f6794b2.html"  target="element">
				  		<area shape="rect" coords="981,1084,1102,1150" href="../elements/id-605af2aff4bd404e9f3645c2ab6290c2.html"  target="element">
				  		<area shape="rect" coords="166,832,286,887" href="../elements/id-d61ce25ab87e424dad7bea1c758baf13.html"  target="element">
				  		<area shape="rect" coords="166,904,286,959" href="../elements/id-6c847850dcd64ff6b754e70cd4ad159e.html"  target="element">
				  		<area shape="rect" coords="10,1108,131,1174" href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">D&#233;crit les diff&#233;rents formats des documents et les m&#233;dias utilis&#233;s pour les impressions r&#233;alis&#233;es chez Fournier.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> Auteur </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Vincent VERMOREL</xmp> </td></tr><tr><td> Date </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">02/12/2022</xmp> </td></tr><tr><td> Statut </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">en cours</xmp> </td></tr><tr><td> Version </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">0.1</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html" target="element"> imprimante laser </a> </td>
											    <td> <a href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c847850dcd64ff6b754e70cd4ad159e.html" target="element"> &#233;tiquette A5 (blanche) </a> </td>
											    <td> <a href="../elements/id-6c847850dcd64ff6b754e70cd4ad159e.html" target="element" class="i18n-elementtype-Material">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d61ce25ab87e424dad7bea1c758baf13.html" target="element"> &#233;tiquette A5 (jaune) </a> </td>
											    <td> <a href="../elements/id-d61ce25ab87e424dad7bea1c758baf13.html" target="element" class="i18n-elementtype-Material">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-605af2aff4bd404e9f3645c2ab6290c2.html" target="element"> imprimante transfert thermique </a> </td>
											    <td> <a href="../elements/id-605af2aff4bd404e9f3645c2ab6290c2.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2581160d85fa48c794dd8bb25f6794b2.html" target="element"> planche A4 d'&#233;tiquettes </a> </td>
											    <td> <a href="../elements/id-2581160d85fa48c794dd8bb25f6794b2.html" target="element" class="i18n-elementtype-Material">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element"> rouleau d'&#233;tiquettes </a> </td>
											    <td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element" class="i18n-elementtype-Material">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3b8dcc2a7aa4d43bb307ea9c1d88d15.html" target="element"> feuille A4 blanche </a> </td>
											    <td> <a href="../elements/id-a3b8dcc2a7aa4d43bb307ea9c1d88d15.html" target="element" class="i18n-elementtype-Material">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html" target="element"> A4 </a> </td>
											    <td> <a href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
											    <td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
											    <td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf57fa2cb57d4ad69e4d6e78994dcaf3.html" target="element"> 110 x 110 mm </a> </td>
											    <td> <a href="../elements/id-bf57fa2cb57d4ad69e4d6e78994dcaf3.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e56cadcc04c343338519c2dfc9b367e6.html" target="element"> 100 x 11 mm </a> </td>
											    <td> <a href="../elements/id-e56cadcc04c343338519c2dfc9b367e6.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-88e89a53c2624f53909563b132103b47.html" target="element"> Cartouche  </a> </td>
									           <td> <a href="../objects/id-88e89a53c2624f53909563b132103b47.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-28e81c63ec8446ebb99339ba49060a90.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-28e81c63ec8446ebb99339ba49060a90.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-b6a130e96363402b97d3bf4dbd656ef4.html" target="element"> FS* - Fiche Suiveuse Production </a> </td>
											    <td> <a href="../elements/id-b6a130e96363402b97d3bf4dbd656ef4.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6680e3a45ac4921afc5a8ef8e6a334d.html" target="element"> Fiche suiveuse colis replanifi&#233; </a> </td>
											    <td> <a href="../elements/id-d6680e3a45ac4921afc5a8ef8e6a334d.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
											    <td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
											    <td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element"> Etiquette de production (&#233;tiquette de chant) </a> </td>
											    <td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9089fa8f712f428c807362f33b1f8fbe.html" target="element"> Norme NFE / NFA </a> </td>
											    <td> <a href="../elements/id-9089fa8f712f428c807362f33b1f8fbe.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7921e1deddf249aeb56e0e14570fd1a3.html" target="element"> FPA - Fiche Perso Rangement </a> </td>
											    <td> <a href="../elements/id-7921e1deddf249aeb56e0e14570fd1a3.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-110385fec69347e0880550d2ecb784b5.html" target="element"> FPC - Fiche Perso Composant </a> </td>
											    <td> <a href="../elements/id-110385fec69347e0880550d2ecb784b5.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e576f0ca02cc47e2802f3a98a885bec6.html" target="element"> FPG - Fiche Perso Pr&#233;pa Fa&#231;ade </a> </td>
											    <td> <a href="../elements/id-e576f0ca02cc47e2802f3a98a885bec6.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f94c7191f5741b69853df8bdd7e92e9.html" target="element"> FPI - Fiche Perso Composant </a> </td>
											    <td> <a href="../elements/id-2f94c7191f5741b69853df8bdd7e92e9.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31215b24566748c483eee309f0bdfbcf.html" target="element"> FPM - Fiche Perso Miroir </a> </td>
											    <td> <a href="../elements/id-31215b24566748c483eee309f0bdfbcf.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d336e2e6bdc42379d849eff51adbea4.html" target="element"> FPR - Fiche Perso Filler </a> </td>
											    <td> <a href="../elements/id-6d336e2e6bdc42379d849eff51adbea4.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0ccb9604a72466d80fde019fc6ce218.html" target="element"> FPT - Fiche Perso Tiroir </a> </td>
											    <td> <a href="../elements/id-d0ccb9604a72466d80fde019fc6ce218.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c69e1051a674d759afd2324fcfa5074.html" target="element"> FPU - Fiche Perso Rangement </a> </td>
											    <td> <a href="../elements/id-5c69e1051a674d759afd2324fcfa5074.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2ad64762d95422d81ad7d7302422f5c.html" target="element"> FPZ - Fiche Perso Cartons de Meuble </a> </td>
											    <td> <a href="../elements/id-a2ad64762d95422d81ad7d7302422f5c.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d93bf53b2297499795ba6ebfd39f9738.html" target="element"> Fiche d&#233;bit plan de travail </a> </td>
											    <td> <a href="../elements/id-d93bf53b2297499795ba6ebfd39f9738.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39f038e0c8ed43b5ae44a1e1ed122252.html" target="element"> FP sp&#233;cifique atelier </a> </td>
											    <td> <a href="../elements/id-39f038e0c8ed43b5ae44a1e1ed122252.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c6601c74bb9c421ab781e31570fb4614.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6601c74bb9c421ab781e31570fb4614.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html" target="element"> imprimante laser </a> </td>
																		<td> <a href="../elements/id-a3b8dcc2a7aa4d43bb307ea9c1d88d15.html" target="element"> feuille A4 blanche </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06ee9ca5b499439bb337a1226c699d79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06ee9ca5b499439bb337a1226c699d79.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c847850dcd64ff6b754e70cd4ad159e.html" target="element"> &#233;tiquette A5 (blanche) </a> </td>
																		<td> <a href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html" target="element"> imprimante laser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-befc6044c75643f1b037725a532b5c89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-befc6044c75643f1b037725a532b5c89.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d61ce25ab87e424dad7bea1c758baf13.html" target="element"> &#233;tiquette A5 (jaune) </a> </td>
																		<td> <a href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html" target="element"> imprimante laser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-52f3423b42ed431a8269f1345408bab9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52f3423b42ed431a8269f1345408bab9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-605af2aff4bd404e9f3645c2ab6290c2.html" target="element"> imprimante transfert thermique </a> </td>
																		<td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element"> rouleau d'&#233;tiquettes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e781b1ec0e143c4807243b1638a53db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e781b1ec0e143c4807243b1638a53db.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2581160d85fa48c794dd8bb25f6794b2.html" target="element"> planche A4 d'&#233;tiquettes </a> </td>
																		<td> <a href="../elements/id-1356b43ba20b4ed2a1b54c0afb4f5396.html" target="element"> imprimante laser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0adee6b5154b41a9bfe08bb319fe6087.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0adee6b5154b41a9bfe08bb319fe6087.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html" target="element"> A4 </a> </td>
																		<td> <a href="../elements/id-a3b8dcc2a7aa4d43bb307ea9c1d88d15.html" target="element"> feuille A4 blanche </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31d290a3c5e04504ae30daa560bd97b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31d290a3c5e04504ae30daa560bd97b9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html" target="element"> A4 </a> </td>
																		<td> <a href="../elements/id-9089fa8f712f428c807362f33b1f8fbe.html" target="element"> Norme NFE / NFA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-075edae127104d74a0dd4d7a597ec550.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-075edae127104d74a0dd4d7a597ec550.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
																		<td> <a href="../elements/id-d61ce25ab87e424dad7bea1c758baf13.html" target="element"> &#233;tiquette A5 (jaune) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-134a0c69ac69471fac2f5bcb851be3c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-134a0c69ac69471fac2f5bcb851be3c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
																		<td> <a href="../elements/id-6c847850dcd64ff6b754e70cd4ad159e.html" target="element"> &#233;tiquette A5 (blanche) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd1dd087aa9940c1b0a2bc28c102dc08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd1dd087aa9940c1b0a2bc28c102dc08.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
																		<td> <a href="../elements/id-d6680e3a45ac4921afc5a8ef8e6a334d.html" target="element"> Fiche suiveuse colis replanifi&#233; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8eba6c761c75423db88144c6403f76d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8eba6c761c75423db88144c6403f76d3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
																		<td> <a href="../elements/id-b6a130e96363402b97d3bf4dbd656ef4.html" target="element"> FS* - Fiche Suiveuse Production </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08766cc8311842d49f8b7b0a668ff1a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08766cc8311842d49f8b7b0a668ff1a8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
																		<td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element"> rouleau d'&#233;tiquettes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dfe826640e5745b88a1e8441da26f9f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfe826640e5745b88a1e8441da26f9f7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																		<td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element"> rouleau d'&#233;tiquettes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e084298fb2be4116aa6d29e90b937aee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e084298fb2be4116aa6d29e90b937aee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																		<td> <a href="../elements/id-2581160d85fa48c794dd8bb25f6794b2.html" target="element"> planche A4 d'&#233;tiquettes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e12cf318121e4a77a6354bdb22674c0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e12cf318121e4a77a6354bdb22674c0d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf57fa2cb57d4ad69e4d6e78994dcaf3.html" target="element"> 110 x 110 mm </a> </td>
																		<td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element"> rouleau d'&#233;tiquettes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3cfb9c31f57a45af9e88bdacb228dbbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cfb9c31f57a45af9e88bdacb228dbbc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e56cadcc04c343338519c2dfc9b367e6.html" target="element"> 100 x 11 mm </a> </td>
																		<td> <a href="../elements/id-49a472b2efd745a7b18d9cd4313ef2ca.html" target="element"> rouleau d'&#233;tiquettes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3373bea8c4844ea4beeae7c7080b7634.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3373bea8c4844ea4beeae7c7080b7634.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e56cadcc04c343338519c2dfc9b367e6.html" target="element"> 100 x 11 mm </a> </td>
																		<td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element"> Etiquette de production (&#233;tiquette de chant) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-67bf8cd4bd96481ba2646b30ff2d3557.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67bf8cd4bd96481ba2646b30ff2d3557.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																		<td> <a href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html" target="element"> A4 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9768d177264a4f2d8788a4561ac5e6b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9768d177264a4f2d8788a4561ac5e6b5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
																		<td> <a href="../elements/id-9b4e45e70f604b5abeddf7908b2911d1.html" target="element"> A4 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-16ce1d624d7d4679a696971d45d9d5cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16ce1d624d7d4679a696971d45d9d5cb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7921e1deddf249aeb56e0e14570fd1a3.html" target="element"> FPA - Fiche Perso Rangement </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da3c8baad30d4295891c8e53e3fcae8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da3c8baad30d4295891c8e53e3fcae8d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110385fec69347e0880550d2ecb784b5.html" target="element"> FPC - Fiche Perso Composant </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a0ebf6c160264cc9a45a633063d8e6df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0ebf6c160264cc9a45a633063d8e6df.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e576f0ca02cc47e2802f3a98a885bec6.html" target="element"> FPG - Fiche Perso Pr&#233;pa Fa&#231;ade </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9fb4dc9ddc1482783601848bded8027.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9fb4dc9ddc1482783601848bded8027.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f94c7191f5741b69853df8bdd7e92e9.html" target="element"> FPI - Fiche Perso Composant </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6aea67006b4e415caa7d297aebfc1e5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aea67006b4e415caa7d297aebfc1e5b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31215b24566748c483eee309f0bdfbcf.html" target="element"> FPM - Fiche Perso Miroir </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3ea03bec7cfd43b691a81a9b7ed01432.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ea03bec7cfd43b691a81a9b7ed01432.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d336e2e6bdc42379d849eff51adbea4.html" target="element"> FPR - Fiche Perso Filler </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24103b4747d94bdcaa0d136d909c9ab7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24103b4747d94bdcaa0d136d909c9ab7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0ccb9604a72466d80fde019fc6ce218.html" target="element"> FPT - Fiche Perso Tiroir </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e4daabf0ea74c9592ef684f7dea4dcf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e4daabf0ea74c9592ef684f7dea4dcf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c69e1051a674d759afd2324fcfa5074.html" target="element"> FPU - Fiche Perso Rangement </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-203e76ce1e264cc488ab0447afd76bfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-203e76ce1e264cc488ab0447afd76bfe.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2ad64762d95422d81ad7d7302422f5c.html" target="element"> FPZ - Fiche Perso Cartons de Meuble </a> </td>
																		<td> <a href="../elements/id-48cfa2aa97824f49b4dc90a4e42ba62b.html" target="element"> A5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9cc39dec19564e15939c3b1a7e999c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cc39dec19564e15939c3b1a7e999c5d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d93bf53b2297499795ba6ebfd39f9738.html" target="element"> Fiche d&#233;bit plan de travail </a> </td>
																		<td> <a href="../elements/id-bf57fa2cb57d4ad69e4d6e78994dcaf3.html" target="element"> 110 x 110 mm </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9216b5d7cff94873aa7a2f0a561d02ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9216b5d7cff94873aa7a2f0a561d02ae.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39f038e0c8ed43b5ae44a1e1ed122252.html" target="element"> FP sp&#233;cifique atelier </a> </td>
																		<td> <a href="../elements/id-8140b260a86e4f5a9da4b29cbd41d99d.html" target="element"> 135 x 62 mm </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>