<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02 - Cas d'usage des différents type d'éditions</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02 - Cas d'usage des diff&#233;rents type d'&#233;ditions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7f68ed4d8475486bb73e49c6f30bdf1f.png" alt="02 - Cas d'usage des différents type d'éditions" usemap="#id-7f68ed4d8475486bb73e49c6f30bdf1fmap"/>
			   <map name="id-7f68ed4d8475486bb73e49c6f30bdf1fmap">
				          <area shape="rect" coords="766,565,951,645" href="../objects/id-1ca601cef9c541bb9c1c93b715898aa6.html" target="element" >
				          <area shape="rect" coords="958,243,1143,323" href="../objects/id-4df292a6eea24e6fac411b14ee590ce5.html" target="element" >
				  				<area shape="rect" coords="934,142,1054,197" href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html"  target="element">
				  				<area shape="rect" coords="814,202,923,251" href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html"  target="element">
				  				<area shape="rect" coords="814,82,923,131" href="../elements/id-fd352ce09db0404cbe600a8258acee42.html"  target="element">

				  		<area shape="rect" coords="778,46,1067,275" href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html"  target="element">
				  				<area shape="rect" coords="592,250,712,305" href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html"  target="element">
				  				<area shape="rect" coords="460,250,580,305" href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html"  target="element">
				  				<area shape="rect" coords="592,94,712,149" href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html"  target="element">
				  				<area shape="rect" coords="376,166,485,215" href="../elements/id-ec4928d331854ee1984f473f47badd7d.html"  target="element">
				  				<area shape="rect" coords="376,106,485,155" href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html"  target="element">
				  				<area shape="rect" coords="376,46,485,95" href="../elements/id-636cc9fcf2674df1937d98cadb127604.html"  target="element">

				  		<area shape="rect" coords="352,10,737,323" href="../elements/id-26f929cc796d4e59a63463ddf366f264.html"  target="element">
				  				<area shape="rect" coords="490,694,599,743" href="../elements/id-ec4928d331854ee1984f473f47badd7d.html"  target="element">
				  				<area shape="rect" coords="490,634,599,683" href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html"  target="element">
				  				<area shape="rect" coords="646,421,766,476" href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html"  target="element">
				  				<area shape="rect" coords="334,742,454,797" href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html"  target="element">
				  				<area shape="rect" coords="334,421,454,491" href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html"  target="element">
				  				<area shape="rect" coords="646,742,766,797" href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html"  target="element">
				  				<area shape="rect" coords="490,562,599,611" href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html"  target="element">
				  				<area shape="rect" coords="490,490,599,539" href="../elements/id-636cc9fcf2674df1937d98cadb127604.html"  target="element">

				  		<area shape="rect" coords="298,394,791,815" href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html"  target="element">
				  				<area shape="rect" coords="178,154,298,209" href="../elements/id-dfb507fa2c624c42813c9b989014f2e4.html"  target="element">
				  				<area shape="rect" coords="22,157,131,206" href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html"  target="element">
				  				<area shape="rect" coords="22,229,131,278" href="../elements/id-ec4928d331854ee1984f473f47badd7d.html"  target="element">
				  				<area shape="rect" coords="178,85,298,140" href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html"  target="element">
				  				<area shape="rect" coords="178,226,298,281" href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html"  target="element">
				  				<area shape="rect" coords="22,88,131,137" href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html"  target="element">

				  		<area shape="rect" coords="10,46,311,299" href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html"  target="element">
				  		        <area shape="rect" coords="838,718,1319,803" href="../objects/id-da15647dfc014e28aabb673fd9a4cf98.html" target="element" >

				          <area shape="rect" coords="826,682,1331,815" href="../objects/id-e94917ed97564ee88f2ba5142d260aa4.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Description des diff&#233;rents types de documents et leurs cas d'usage.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> Date </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">30/11/2022</xmp> </td></tr><tr><td> Version </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">0.1</xmp> </td></tr><tr><td> Auteur </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Vincent VERMOREL</xmp> </td></tr><tr><td> Report:View:Detailed </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">true</xmp> </td></tr><tr><td> Statut </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">en cours</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e94917ed97564ee88f2ba5142d260aa4.html" target="element"> Cartouche  </a> </td>
									           <td> <a href="../objects/id-e94917ed97564ee88f2ba5142d260aa4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-da15647dfc014e28aabb673fd9a4cf98.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-da15647dfc014e28aabb673fd9a4cf98.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
											    <td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
													    <td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
													    <td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
													    <td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
													    <td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dfb507fa2c624c42813c9b989014f2e4.html" target="element"> Documentation Produit </a> </td>
													    <td> <a href="../elements/id-dfb507fa2c624c42813c9b989014f2e4.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
											    <td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
													    <td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
													    <td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element"> Etiquette de production (&#233;tiquette de chant) </a> </td>
													    <td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
													    <td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
													    <td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
													    <td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
													    <td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
											    <td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
													    <td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
													    <td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
													    <td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
													    <td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
													    <td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html" target="element"> Exp&#233;dier un produit </a> </td>
											    <td> <a href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fd352ce09db0404cbe600a8258acee42.html" target="element"> Suivre la livraison </a> </td>
													    <td> <a href="../elements/id-fd352ce09db0404cbe600a8258acee42.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
													    <td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
													    <td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-4df292a6eea24e6fac411b14ee590ce5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4df292a6eea24e6fac411b14ee590ce5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1ca601cef9c541bb9c1c93b715898aa6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1ca601cef9c541bb9c1c93b715898aa6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-facecf562dee4c79adcfb4d905beb45c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-facecf562dee4c79adcfb4d905beb45c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7daf4396ae54d199d78cdd868e6ee5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7daf4396ae54d199d78cdd868e6ee5c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23057cec5e034ba0acefc79bd5f9888a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23057cec5e034ba0acefc79bd5f9888a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d56e5c0293646c3ac0a74fd220ddc99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d56e5c0293646c3ac0a74fd220ddc99.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf0d9eb475eb4a419b2da329cf8bd71c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf0d9eb475eb4a419b2da329cf8bd71c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49337e4d16ae4556af1d5855745be25d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49337e4d16ae4556af1d5855745be25d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc808fb4d6ed44cc8fa7847e7bf9d37d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc808fb4d6ed44cc8fa7847e7bf9d37d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f72cf0ee7a24a8ca09440cf757e5a9f.html" target="element"> Pr&#233;parer des composants </a> </td>
																		<td> <a href="../elements/id-dfb507fa2c624c42813c9b989014f2e4.html" target="element"> Documentation Produit </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d1ecd59b91a64b6985758dfda124963c.html" target="element"> CU01 - identifier un composant </a> </td>
																				<td> <a href="../elements/id-d1ecd59b91a64b6985758dfda124963c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-268fa709a747411093d0057a17627e38.html" target="element"> CU02 - donner les instructions de pick-in </a> </td>
																				<td> <a href="../elements/id-268fa709a747411093d0057a17627e38.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																				<td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-64b56ea4815642128f9f33275d909a42.html" target="element"> CU15 - appairer un document </a> </td>
																				<td> <a href="../elements/id-64b56ea4815642128f9f33275d909a42.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
																				<td> <a href="../elements/id-dfb507fa2c624c42813c9b989014f2e4.html" target="element"> Documentation Produit </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6d79d1ad304d433eb7035943fa1c630b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d79d1ad304d433eb7035943fa1c630b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7cb1ed9336d42c5a5497d0723e530cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7cb1ed9336d42c5a5497d0723e530cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41f162a309254cc694cf70a830795aec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41f162a309254cc694cf70a830795aec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c719a7137e6b4f1cac344450176cb849.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c719a7137e6b4f1cac344450176cb849.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fb8d50224824269bfaba64abd0747d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fb8d50224824269bfaba64abd0747d9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a5f755f011a42f89ba7a0369622dd1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a5f755f011a42f89ba7a0369622dd1a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f85f4bf1c51041d283d3890b06dc345b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f85f4bf1c51041d283d3890b06dc345b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element"> Etiquette de production (&#233;tiquette de chant) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac3ef1a136e64613973489eed8ef5080.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac3ef1a136e64613973489eed8ef5080.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11656d1da79945bba128ec7eafb073a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11656d1da79945bba128ec7eafb073a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																		<td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1476301817b24a1ca7e4855db16f1664.html" target="element"> CU03 - jalonner une pile </a> </td>
																				<td> <a href="../elements/id-1476301817b24a1ca7e4855db16f1664.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																				<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a8fb95a35844c7f822e194c0e20fe0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a8fb95a35844c7f822e194c0e20fe0f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-844c2038bbf945f5820936e006ed31cf.html" target="element"> CU04 - lister le contenu d'une pile </a> </td>
																				<td> <a href="../elements/id-844c2038bbf945f5820936e006ed31cf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																				<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-35dc379d6638455f8eb1ec1ce4e61928.html" target="element"> CU07 - identifier le meuble </a> </td>
																				<td> <a href="../elements/id-35dc379d6638455f8eb1ec1ce4e61928.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																				<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d9ae017ce37549539d2d0389de879772.html" target="element"> CU09 - jalonner un meuble </a> </td>
																				<td> <a href="../elements/id-d9ae017ce37549539d2d0389de879772.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																				<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7c0cd16df9824ae39abc76ba7597ed0e.html" target="element"> CU10 - afficher instruction filigrane </a> </td>
																				<td> <a href="../elements/id-7c0cd16df9824ae39abc76ba7597ed0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																				<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cbddfb9308b045f5a135ff2b9f1e1611.html" target="element"> CU08 - jalonner une pi&#232;ce (composant ou meuble) </a> </td>
																				<td> <a href="../elements/id-cbddfb9308b045f5a135ff2b9f1e1611.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element"> Etiquette de production (&#233;tiquette de chant) </a> </td>
																				<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-64a562a104864cb6b3e177e75adbeccd.html" target="element"> CU13 - identifier une pi&#232;ce </a> </td>
																				<td> <a href="../elements/id-64a562a104864cb6b3e177e75adbeccd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8fbb7916b9094323a3ee44bc5a9e6822.html" target="element"> Etiquette de production (&#233;tiquette de chant) </a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b7e70f819cd4623976677602ffaf783.html" target="element"> CU11 - afficher les instructions de production </a> </td>
																				<td> <a href="../elements/id-1b7e70f819cd4623976677602ffaf783.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d5f06300293c4e049f693c9485c58821.html" target="element"> CU12 - jalonner une pi&#232;ce </a> </td>
																				<td> <a href="../elements/id-d5f06300293c4e049f693c9485c58821.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d1ecd59b91a64b6985758dfda124963c.html" target="element"> CU01 - identifier un composant </a> </td>
																				<td> <a href="../elements/id-d1ecd59b91a64b6985758dfda124963c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-69879ea0f96746cbbe802d7dc4f1bec9.html" target="element"> CU14 - appairer un composant </a> </td>
																				<td> <a href="../elements/id-69879ea0f96746cbbe802d7dc4f1bec9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f250b7a535cf46389a30e41f35c5d5f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f250b7a535cf46389a30e41f35c5d5f5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50ab51ebfd13459faceb071f94b9f97a.html" target="element"> Contr&#244;ler l'appairage </a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1b0b00f90f7540768707ec8fcbd59bbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b0b00f90f7540768707ec8fcbd59bbf.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-4ba5d76631ba427e8ff979643c3704aa.html" target="element"> Fabriquer un produit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5127ccfada4141b59739e078fda802da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5127ccfada4141b59739e078fda802da.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html" target="element"> Exp&#233;dier un produit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0083fa122f63426284d5233c5ad2ed87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0083fa122f63426284d5233c5ad2ed87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b6aa22012fe4aad80e72e730a590929.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b6aa22012fe4aad80e72e730a590929.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20e4922cbf68410288c1695976ce297c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20e4922cbf68410288c1695976ce297c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d35565d6aba545b9939498be4cff72cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d35565d6aba545b9939498be4cff72cb.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7adc1ab2ae547a58e18cfef64db90ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7adc1ab2ae547a58e18cfef64db90ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66fe6d6d14584272855d229420aa1e83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66fe6d6d14584272855d229420aa1e83.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f929cc796d4e59a63463ddf366f264.html" target="element"> D&#233;placer un composant ou un produit </a> </td>
																		<td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1476301817b24a1ca7e4855db16f1664.html" target="element"> CU03 - jalonner une pile </a> </td>
																				<td> <a href="../elements/id-1476301817b24a1ca7e4855db16f1664.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-636cc9fcf2674df1937d98cadb127604.html" target="element"> Effectuer un jalonnement </a> </td>
																				<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-844c2038bbf945f5820936e006ed31cf.html" target="element"> CU04 - lister le contenu d'une pile </a> </td>
																				<td> <a href="../elements/id-844c2038bbf945f5820936e006ed31cf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																				<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-87a80f62d1b549fb9d36a8669790ff37.html" target="element"> CU05 - afficher la destination d'une pile </a> </td>
																				<td> <a href="../elements/id-87a80f62d1b549fb9d36a8669790ff37.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																				<td> <a href="../elements/id-201910aafe5c425297df4e1fd5ccb712.html" target="element"> Fiche Pile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-268fa709a747411093d0057a17627e38.html" target="element"> CU02 - donner les instructions de pick-in </a> </td>
																				<td> <a href="../elements/id-268fa709a747411093d0057a17627e38.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																				<td> <a href="../elements/id-dccee45e82a8493cbbc22d6ea438edc4.html" target="element"> Fiche Pr&#233;paration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b7e70f819cd4623976677602ffaf783.html" target="element"> CU11 - afficher les instructions de production </a> </td>
																				<td> <a href="../elements/id-1b7e70f819cd4623976677602ffaf783.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-ec4928d331854ee1984f473f47badd7d.html" target="element"> Guider l'op&#233;rateur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d1ecd59b91a64b6985758dfda124963c.html" target="element"> CU01 - identifier un composant </a> </td>
																				<td> <a href="../elements/id-d1ecd59b91a64b6985758dfda124963c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd1a9008da504b718a8f7862aa72ea1c.html" target="element"> Fiche Perso </a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-587a26af01ab4cb4b79ec6bf30967d9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-587a26af01ab4cb4b79ec6bf30967d9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html" target="element"> Exp&#233;dier un produit </a> </td>
																		<td> <a href="../elements/id-fd352ce09db0404cbe600a8258acee42.html" target="element"> Suivre la livraison </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-278e408bbef04b11a406f3cd767113f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-278e408bbef04b11a406f3cd767113f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html" target="element"> Exp&#233;dier un produit </a> </td>
																		<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2126170a59a84e92a328cb4cf160aa3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2126170a59a84e92a328cb4cf160aa3b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19ef9c362c9a4f788c49d4508af4cc5d.html" target="element"> Exp&#233;dier un produit </a> </td>
																		<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-58ec42ee9055447f962b4baf921e6b73.html" target="element"> CU06 - afficher les informations d'exp&#233;dition </a> </td>
																				<td> <a href="../elements/id-58ec42ee9055447f962b4baf921e6b73.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fd352ce09db0404cbe600a8258acee42.html" target="element"> Suivre la livraison </a> </td>
																				<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-35dc379d6638455f8eb1ec1ce4e61928.html" target="element"> CU07 - identifier le meuble </a> </td>
																				<td> <a href="../elements/id-35dc379d6638455f8eb1ec1ce4e61928.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-641a8d6c2a624224860ac57d7ccab17d.html" target="element"> Identifier un produit ou un composant </a> </td>
																				<td> <a href="../elements/id-7a14ce36c49545998fe942ce9f8a0550.html" target="element"> Fiche Suiveuse </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>